/*Defining the global styles of the website*/

:root {
  /*Website theme using CSS variables*/
  --text: rgb(250, 209, 209);
  --background: rgb(0, 0, 0);
  --primary: rgb(0, 0, 42);
  --secondary: rgb(49, 49, 53);
  --accent: rgb(0, 157, 255);
  --important-tint: rgba(0, 157, 255, .3);
  --hover-tint: rgba(0, 157, 255, .3);
  --font: "Raleway";

  /*
   improve readability, visual quality, and consistency 
   across different browsers and devices.
  */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font);
  font-size: 16px;
  color: var(--text);
}

.global-container {
  min-height: 100vh;
  background-color: var(--background);
}