.tasks-page-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
}

.tasks-nav {
    background-color: var(--primary);
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    transition: all .3s ease;
}

.tasks-nav.active {
    transform: translateX(0);
}

.mobile-nav {
    display: none;
}

.logo-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0;
}

.logo {
    height: 140px;
}

.filter-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.filter {
    width: 100%;
    padding: .5rem .8rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
    position: relative;
}

#active {
    background-color: rgba(72, 220, 56, .2);
}

.filter::before {
    content: '';
    width: 0;
    height: 100%;
    background-color: var(--accent);
    position: absolute;
    top: 0;
    right: 0;
    opacity: .2;
    transition: all .26s linear;
}

.filter:hover::before {
    width: 100%;
    transition: all .26s linear;
}

#active:hover {
    cursor: not-allowed;
}

#active:hover::before {
    width: 0;
}

.filter-icon {
    margin-right: 1rem;
}

.filter-name {
    font-size: 16px;
    font-weight: 700;
    text-transform: capitalize;
}


.filter.back-btn {
    position: absolute;
    bottom: 0;
    color: var(--text);
    text-decoration: none;
}


.tasks-container {
    width: calc(100% - 250px);
    margin-left: 250px;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.add-task {
    position: absolute;
    bottom: 40px;
    width: 90%;
    background-color: var(--primary);
    padding: 15px 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.input-icon {
    margin-right: 12px;
    cursor: pointer;
}

.input-task {
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 16px;
    width: 100%;
    outline: none;
}

/*Styling the tasks nav for mobile and tablet*/
@media (max-width: 768px) {
    .tasks-nav {
        transform: translateX(-80%);
    }

    .mobile-nav {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15px;
        right: 10px;
        cursor: pointer;
    }

    .tasks-container {
        width: 95%;
        margin-left: 50px;
        transition: all .3s ease;
    }

    /*shrink the tasks when the mobile nav is open*/
    .tasks-container.active {
        width: calc(100% - 250px);
        margin-left: 250px;
    }
}